<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a33d74a2-5459-4414-aca5-e0fdc09eed4c/resourceGroups/LyceeBalzacApi20220606125749ResourceGroup/providers/Microsoft.Web/sites/LyceeBalzacApi20220606142529</ResourceId>
    <ResourceGroup>LyceeBalzacApi20220606125749ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://lyceebalzacapi20220606142529.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>655e3b16-d6c4-451f-bf1a-3ed9c9575fc0</ProjectGuid>
    <MSDeployServiceURL>lyceebalzacapi20220606142529.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LyceeBalzacApi20220606142529</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$LyceeBalzacApi20220606142529</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <ApiResourceId>/subscriptions/a33d74a2-5459-4414-aca5-e0fdc09eed4c/resourceGroups/LyceeBalzacApi20220606125749ResourceGroup/providers/Microsoft.ApiManagement/service/LyceeApi/apis/LyceeBalzacApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
  </PropertyGroup>
</Project>